.row-header{
    margin:0px auto;
    padding:0px;
}



.row-content {
 
    padding: 10px 0px 10px 0px;
    border-bottom: 0.3px ridge;
    min-height:120px;
}

.row-contents{
    margin-top:0px auto;
    padding: 25px 0px 25px 0px;
    
    min-height:5px;
}
.row-contentss{
    
    
    padding: 10px 0px 10px 0px;
    border-bottom: 0.3px ridge;
    min-height:5px;
}


.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}


body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}